*{
  padding: 20px;
  background-color: rgb(15, 94, 94);

}
/* 
.display_component{
  
  width: 50%;
  margin: auto;

} */
.display_window{
  /* border: 1px solid black; */
  margin: 10px;
  padding: 20px;
  background-color: rgb(24, 151, 151);
  color: white;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 7px white;
  box-sizing: border-box;
}